<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post">
<input type="text" name="username" placeholder="your username" id="username" required> </br>
<input type="password" name="password" placeholder="password" id="password" required> </br>
<input type="email" name="email" placeholder="email" id="email" required> </br>
<input type="number" name="phone" placeholder="phone number" id="phone" required> </br>
<input type="text" name="adress" placeholder="adress" id="adress" required> </br>
<input type="text" name="city" placeholder="city" id="city" required> </br>
<input type="text" name="state" placeholder="state" id="state" required> </br>
<input type="text" name="country" placeholder="country" id="country" required> </br>
<input type="text" name="postcode" placeholder="post code" id="postcode" required> </br>

<input type="submit" value="Register">
    </form>
</body>
</html>